html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    /* height: 1525px; */
    height: auto;
    width: auto;
}

.item {
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .top-header-item {
        flex-direction: column;
    }

    .bottom-header-item {
        flex-direction: column;
    }

    .header-text {
        flex-direction: column;
    }

    .header-one {
        margin: auto;
        margin-top: 10%;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: auto;
    color: white;
}

.top-header-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

.header-one {
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(221, 221, 221);
    position: relative;
    padding: 0 6px;
    cursor: pointer;
    margin-right: auto;
}

.header-one:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, white, pink);
    height: 3px;
    left: 0;
    width: 0;
    bottom: -2px;
    transition: 0.3s;
}

.header-one:hover:after {
    width: 100%;
}

.links .link-item {
    display: flex;
    margin-top: 10px;
    transition-duration: 1s;
    float: left;
    padding: 15px 20px;
    cursor: pointer;
}

.link-item:hover {
    background-color: pink;
    border-radius: 50px;
}

.bottom-header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    gap: 15px;
}

.header-two {
    font-size: 48px;
    font-weight: extra-bold;
    width: 300px;
    height: auto;
}

.header-text {
    /* flex: 1; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button {
    background-color: pink;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    width: 130px;
    height: 50px;
    border-color: white;
    text-decoration: none;
    transition-duration: 1s;
}

.button:hover {
    box-shadow: 11px -6px 0px 0px white;
}

.header-image {
    /* flex: 1; */
    background-color: pink;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: black;
    height: 400px;
}

.information-header {
    text-align: center;
    flex: 0.5;
    font-size: 36px;
    font-weight: bolder;
    margin: 10px 0px 10px 0px;
}

.random-images {
    display: flex;
    flex: 3;
    gap: 50px;
    justify-content: center;
    align-items: start;
}

.image-item {
    border: 5px solid pink;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.quote {
    height: 300px;
    background-color: #E5E7EB;
}

.quote-text {
    margin: 50px;
    text-align: end;
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;
}

.signup {
    display: flex;
    background-color: pink;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    width: auto;
    margin: 70px 70px 100px 100px;
}

.signup-text {
    color: white;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    text-align: center;
    color: white;
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
}